# Frontend
streamlit
streamlit[pdf]
# Gemini
google-generativeai
langchain-google-genai
# LangChain
langchain
langchain-text-splitters
# Vector Database
qdrant-client
# MongoDB
pymongo
# Authentication
passlib[bcrypt]
# Document Processing
pymupdf
python-docx
# Chunking
tiktoken
# Reranking
sentence-transformers
transformers
torch
# Time Parsing
dateparser
# Environment Variables
python-dotenv
# Validation
pydantic
#workflow
langgraph